<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="codingRound">
	<test name="testngTest">
		<classes>
			<class name="codingRound.sanity.FlightBookingTest" />  
			<class name="codingRound.sanity.HotelBookingTest" />
			<class name="codingRound.sanity.SignInTest" />
		</classes>
	</test>
</suite>